require File.expand_path("#{__FILE__}/../test_credentials.rb")

class TestCredentials
  INSTANCE = TestCredentials.new(
    # Configure these values before running specs
    # You can try using test credentials from https://secure.nmi.com/merchants/resources/integration/integration_portal.php#testing_information if you have a valid customer_vault_id from there, but if you do, the spec for CustomerVault#all will take a very, very, very long time
    'MY_NMI_USERNAME',
    'MY_NMI_PASSWORD',
    'A_CUSTOMER_VAULT_ID_I_CAN_SAFELY_MAKE_CHANGES_TO'.to_i
  )
end
